<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap"
      rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="/index.css" />
    <title>Meta-Tune</title>
    <script type="module" src="/index.js"></script>
  </head>

  <body>
    <div id="main">
      <hgroup id="header">
        <h1>Meta-Tune</h1>
        <h2>Getting the data that Spotify doesn't want you to know</h2>
      </hgroup>
      <div v-scope id="search">
        <input
          type="search"
          placeholder="Enter id"
          v-on:keyup.enter="getTrack"
          v-model="track_identifier" />

        <div v-if="track !== null" id="track-info">
          <hgroup>
            <h1>{{ track.name }}</h1>
            <h3>{{ track.artists.join(', ') }}</h3>
          </hgroup>
          <div id="info-list">
            <p>Duration</p>
            <p>{{ track.duration/60>>0 }}:{{ track.duration%60}}</p>

            <p>Popularity</p>
            <p>{{ track.popularity }}</p>

            <p v-if="track.genres.length > 0">Genre(s)</p>
            <p v-if="track.genres.length > 0">{{ track.genres.join(', ') }}</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
