:root {
  --color: #f4f4f5;
  --bg-color: #131314;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: theme("borderColor.DEFAULT", currentColor);
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: var(--bg-color);
  color: var(--color);
  margin: 0;
  line-height: inherit;
}

#main {
  align-items: center;
  flex-direction: column;
  height: 100vh;
  display: flex;
}

#header {
  padding: 1.25rem;
}

#header h1 {
  font-size: 3rem;
  line-height: 1;
  text-align: center;
}

#header h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
}

#search {
  padding: 2rem 0rem;
  max-width: 56rem;
  width: 100%;
}

#search input {
  color: var(--bg-color);
  font-size: 1.125rem;
  line-height: 1.75rem;
  padding: 1rem;
  padding-left: 1.75rem;
  border-radius: 999px;
  width: 100%;

  appearance: textfield;
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

#track-info {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background-color: rgb(23 23 23);
  border-color: var(--color);
  border-width: 1px;
  border-radius: 0.375rem;
  margin-top: 1.25rem;
}

#track-info h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

#track-info hgroup {
  margin: 1.25rem;
}

.cover-art {
  display: flex;

  & a {
    text-decoration: none;
    color: var(--color);
    align-self: flex-end;
    margin-bottom: -3px;
    margin-left: 2px;
  }
}

#info-list {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  display: grid;
  margin: 1rem;
}

.progress {
  width: 100%;
  height: 0.85rem;
}

.progress-wrap {
  margin-top: 3px;
  overflow: hidden;
  position: relative;
  border-radius: 1000px;
  border: solid var(--color) 1px;
}

.progress-bar {
  background-color: var(--color);
  border: var(--color);
  left: 0;
  position: absolute;
  top: 0;
  border-radius: -1000px;
  transition: all 0.3s;
}

.explicit {
  vertical-align: bottom;
  margin-left: 5px;
  margin-bottom: 0.15em;
  font-size: 1.2rem;
}
